html, body {
  font-family: "Montserrat-Black";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

/* Features Section */

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

.counter {
    background-color:#ff4c68;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
